/*
 * Close icon (deprecated)
 * --------------------------------------------------
 */

.close {
  float: right;
  font-size: 21px; /* (@font-size-base * 1.5) with local @font-size-base: 14px */
  font-weight: bold; /* @close-font-weight */
  line-height: 1;
  color: #000; /* @close-color */
  text-shadow: 0 1px 0 #fff; /* @close-text-shadow */
  opacity: 0.2;

  &:hover,
  &:focus {
    color: #000; /* @close-color */
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
  }

  /* Additional properties for button version
     iOS requires the button element instead of an anchor tag.
     If you want the anchor version, it requires `href="#"`.
     See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile */
  button& {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }
}
