.incompatible-packages {
  background-color: var(--pane-item-background-color);
  overflow-y: scroll;

  .incompatible-package {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid var(--base-border-color);
    background-color: hsl(from var(--tool-panel-background-color) h s calc(l + 8));
    overflow: hidden;

    .badge {
      margin-left: 1em;
    }

    .heading {
      margin-top: 0px;
    }

    ul {
      padding-left: 1em;
    }

    li {
      list-style-type: none;
    }

    pre {
      margin-top: 2em;
      max-height: 25em;
      overflow: scroll;
      color: var(--text-color-error);
    }
  }
}

.incompatible-packages-status {
  padding-left: 2px;
}
