'.source.c, .source.c\\+\\+, .source.objc, .source.objc\\+\\+':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
       ^ .* \\{ [^}"\']* $
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      |^ \\s* \\{ \\} $'
    'decreaseIndentPattern': '(?x)
       ^ \\s* ( (?! \\S.* /[*] ) .* [*]/ \\s* )? \\}
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $'
'.source.c, .source.c\\+\\+':
  'editor':
    'foldEndPattern': '(?<!\\*)\\*\\*/|^\\s*\\}'
