'.source.c, .source.c\\+\\+, .source.objc, .source.objc\\+\\+':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
       ^ .* \\{ [^}"\']* $
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      |^ \\s* \\{ \\} $
      |^ \\s* if \\s* \\( (?!.*?\\belse\\b)
      |^ \\s* \\}? \\s* else \\s*$
      |^ \\s* (for|while) \\s* \\('
    'decreaseIndentPattern': '(?x)
       ^ \\s* ( (?! \\S.* /[*] ) .* [*]/ \\s* )? \\}
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      |^ \\s* else \\s*$'
'.source.c, .source.c\\+\\+':
  'editor':
    'foldEndPattern': '(?<!\\*)\\*\\*/|^\\s*\\}'
