name: 'HTML'
scopeName: 'text.html.basic'
type: 'tree-sitter'
parser: 'tree-sitter-html'

fileTypes: [
  'html'
]

injectionRegExp: '(HTML|html|Html)$'

folds: [
  {
    type: ['start_tag', 'raw_start_tag', 'self_closing_tag'],
    start: {index: 1},
    end: {index: -1}
  }
  {
    type: ['element', 'raw_element'],
    start: {index: 0},
    end: {index: -1}
  }
]

comments:
  start: '<!--'
  end: '-->'

scopes:
  'fragment': 'source.html'
  'tag_name': 'entity.name.tag'
  'raw_tag_name': 'entity.name.tag'
  'erroneous_end_tag_name': 'invalid.illegal'
  'doctype': 'meta.tag.doctype.html'
  'attribute_name': 'entity.other.attribute-name'
  'attribute_value': 'string.html'
  'comment': 'comment.block.html'
