'menu': [
  {
    label: 'Pulsar'
    submenu: [
      { localisedLabel: 'core.menu.pulsar.about', command: 'application:about' }
      { localisedLabel: 'core.menu.pulsar.view-license', command: 'application:open-license' }
      { localisedLabel: 'core.menu.pulsar.version', enabled: false }
      { localisedLabel: 'core.menu.pulsar.restart-and-install-update', command: 'application:install-update', visible: false }
      { localisedLabel: 'core.menu.pulsar.check-for-update', command: 'application:check-for-update', visible: false }
      { localisedLabel: 'core.menu.pulsar.checking-for-update', enabled: false, visible: false }
      { localisedLabel: 'core.menu.pulsar.downloading-update', enabled: false, visible: false }
      { type: 'separator' }
      { localisedLabel: 'core.menu.pulsar.preferences', command: 'application:show-settings' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.pulsar.config', command: 'application:open-your-config' }
      { localisedLabel: 'core.menu.pulsar.init-script', command: 'application:open-your-init-script' }
      { localisedLabel: 'core.menu.pulsar.keymap', command: 'application:open-your-keymap' }
      { localisedLabel: 'core.menu.pulsar.snippets', command: 'application:open-your-snippets' }
      { localisedLabel: 'core.menu.pulsar.stylesheet', command: 'application:open-your-stylesheet' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.pulsar.install-shell-commands', command: 'window:install-shell-commands' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.macos.services', role: 'services', submenu: [] }
      { type: 'separator' }
      { localisedLabel: 'core.menu.macos.hide-self', command: 'application:hide' }
      { localisedLabel: 'core.menu.macos.hide-others', command: 'application:hide-other-applications' }
      { localisedLabel: 'core.menu.macos.show-all', command: 'application:unhide-all-applications' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.pulsar.quit', command: 'application:quit' }
    ]
  }
  {
    localisedLabel: 'core.menu.file.self'
    submenu: [
      { localisedLabel: 'core.menu.file.new-window', command: 'application:new-window' }
      { localisedLabel: 'core.menu.file.new-file', command: 'application:new-file' }
      { localisedLabel: 'core.menu.file.open', command: 'application:open' }
      { localisedLabel: 'core.menu.file.add-project-folder', command: 'application:add-project-folder' }
      {
        localisedLabel: 'core.menu.file.project-history.reopen-project',
        submenu: [
          { localisedLabel: 'core.menu.file.project-history.clear', command: 'application:clear-project-history' }
          { type: 'separator' }
        ]
      }
      { localisedLabel: 'core.menu.file.reopen-last-item', command: 'pane:reopen-closed-item' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.file.save', command: 'core:save' }
      { localisedLabel: 'core.menu.file.save-as', command: 'core:save-as' }
      { localisedLabel: 'core.menu.file.save-all', command: 'window:save-all' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.file.close-tab', command: 'core:close' }
      { localisedLabel: 'core.menu.file.close-pane', command: 'pane:close' }
      { localisedLabel: 'core.menu.file.close-window', command: 'window:close' }
    ]
  }

  {
    localisedLabel: 'core.menu.edit.self'
    submenu: [
      { localisedLabel: 'core.menu.edit.undo', command: 'core:undo' }
      { localisedLabel: 'core.menu.edit.redo', command: 'core:redo' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.edit.cut', command: 'core:cut' }
      { localisedLabel: 'core.menu.edit.copy', command: 'core:copy' }
      { localisedLabel: 'core.menu.edit.copy-path', command: 'editor:copy-path' }
      { localisedLabel: 'core.menu.edit.paste', command: 'core:paste' }
      { localisedLabel: 'core.menu.edit.paste-without-reformatting', command: 'editor:paste-without-reformatting' }
      { localisedLabel: 'core.menu.edit.select-all', command: 'core:select-all' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.edit.toggle-comments', command: 'editor:toggle-line-comments' }
      {
        localisedLabel: 'core.menu.edit.lines.self',
        submenu: [
          { localisedLabel: 'core.menu.edit.lines.indent', command: 'editor:indent-selected-rows' }
          { localisedLabel: 'core.menu.edit.lines.outdent', command: 'editor:outdent-selected-rows' }
          { localisedLabel: 'core.menu.edit.lines.auto-indent', command: 'editor:auto-indent' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.edit.lines.move-up', command: 'editor:move-line-up' }
          { localisedLabel: 'core.menu.edit.lines.move-down', command: 'editor:move-line-down' }
          { localisedLabel: 'core.menu.edit.lines.duplicate', command: 'editor:duplicate-lines' }
          { localisedLabel: 'core.menu.edit.lines.delete', command: 'editor:delete-line' }
          { localisedLabel: 'core.menu.edit.lines.join', command: 'editor:join-lines' }
        ]
      }
      {
        localisedLabel: 'core.menu.edit.columns.self',
        submenu: [
          { localisedLabel: 'core.menu.edit.columns.move-selection-left', command: 'editor:move-selection-left' }
          { localisedLabel: 'core.menu.edit.columns.move-selection-right', command: 'editor:move-selection-right' }
        ]
      }
      {
        localisedLabel: 'core.menu.edit.text.self',
        submenu: [
          { localisedLabel: 'core.menu.edit.text.upper-case', command: 'editor:upper-case' }
          { localisedLabel: 'core.menu.edit.text.lower-case', command: 'editor:lower-case' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.edit.text.delete-to-end-of-word', command: 'editor:delete-to-end-of-word' }
          { localisedLabel: 'core.menu.edit.text.delete-to-previous-word-boundary', command: 'editor:delete-to-previous-word-boundary' }
          { localisedLabel: 'core.menu.edit.text.delete-to-next-word-boundary', command: 'editor:delete-to-next-word-boundary' }
          { localisedLabel: 'core.menu.edit.text.delete-line', command: 'editor:delete-line' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.edit.text.transpose', command: 'editor:transpose' }
        ]
      }
      {
        localisedLabel: 'core.menu.edit.folding.self',
        submenu: [
          { localisedLabel: 'core.menu.edit.folding.fold', command: 'editor:fold-current-row' }
          { localisedLabel: 'core.menu.edit.folding.unfold', command: 'editor:unfold-current-row' }
          { localisedLabel: 'core.menu.edit.folding.fold-all', command: 'editor:fold-all' }
          { localisedLabel: 'core.menu.edit.folding.unfold-all', command: 'editor:unfold-all' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-1', command: 'editor:fold-at-indent-level-1' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-2', command: 'editor:fold-at-indent-level-2' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-3', command: 'editor:fold-at-indent-level-3' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-4', command: 'editor:fold-at-indent-level-4' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-5', command: 'editor:fold-at-indent-level-5' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-6', command: 'editor:fold-at-indent-level-6' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-7', command: 'editor:fold-at-indent-level-7' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-8', command: 'editor:fold-at-indent-level-8' }
          { localisedLabel: 'core.menu.edit.folding.fold-level-9', command: 'editor:fold-at-indent-level-9' }
        ]
      }
    ]
  }

  {
    localisedLabel: 'core.menu.view.self'
    submenu: [
      { localisedLabel: 'core.menu.view.toggle-full-screen', command: 'window:toggle-full-screen' }
      {
        localisedLabel: 'core.menu.view.panes.self'
        submenu: [
          { localisedLabel: 'core.menu.view.panes.split-up', command: 'pane:split-up-and-copy-active-item' }
          { localisedLabel: 'core.menu.view.panes.split-down', command: 'pane:split-down-and-copy-active-item' }
          { localisedLabel: 'core.menu.view.panes.split-left', command: 'pane:split-left-and-copy-active-item' }
          { localisedLabel: 'core.menu.view.panes.split-right', command: 'pane:split-right-and-copy-active-item' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.view.panes.focus-next    Focus Next Pane', command: 'window:focus-next-pane' }
          { localisedLabel: 'core.menu.view.panes.focus-previous    Focus Previous Pane', command: 'window:focus-previous-pane' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.view.panes.focus-above', command: 'window:focus-pane-above' }
          { localisedLabel: 'core.menu.view.panes.focus-below', command: 'window:focus-pane-below' }
          { localisedLabel: 'core.menu.view.panes.focus-on-left', command: 'window:focus-pane-on-left' }
          { localisedLabel: 'core.menu.view.panes.focus-on-right', command: 'window:focus-pane-on-right' }
          { type: 'separator' }
          { localisedLabel: 'core.menu.view.panes.close', command: 'pane:close' }
        ]
      }
      {
        localisedLabel: 'core.menu.view.developer.self'
        submenu: [
          { localisedLabel: 'core.menu.view.developer.open-in-dev-mode', command: 'application:open-dev' }
          { localisedLabel: 'core.menu.view.developer.reload-window', command: 'window:reload' }
          { localisedLabel: 'core.menu.view.developer.run-package-specs', command: 'window:run-package-specs' }
          { localisedLabel: 'core.menu.view.developer.toggle-dev-tools', command: 'window:toggle-dev-tools' }
        ]
      }
      { type: 'separator' }
      { localisedLabel: 'core.menu.view.increase-font-size', command: 'window:increase-font-size' }
      { localisedLabel: 'core.menu.view.decrease-font-size', command: 'window:decrease-font-size' }
      { localisedLabel: 'core.menu.view.reset-font-size', command: 'window:reset-font-size' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.view.toggle-soft-wrap', command: 'editor:toggle-soft-wrap' }
    ]
  }

  {
    localisedLabel: 'core.menu.selection.self'
    submenu: [
      { localisedLabel: 'core.menu.selection.add-above', command: 'editor:add-selection-above' }
      { localisedLabel: 'core.menu.selection.add-below', command: 'editor:add-selection-below' }
      { localisedLabel: 'core.menu.selection.single', command: 'editor:consolidate-selections' }
      { localisedLabel: 'core.menu.selection.split-into-lines', command: 'editor:split-selections-into-lines' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.selection.to-top', command: 'core:select-to-top' }
      { localisedLabel: 'core.menu.selection.to-bottom', command: 'core:select-to-bottom' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.selection.line', command: 'editor:select-line' }
      { localisedLabel: 'core.menu.selection.word', command: 'editor:select-word' }
      { localisedLabel: 'core.menu.selection.to-beginning-of-word', command: 'editor:select-to-beginning-of-word' }
      { localisedLabel: 'core.menu.selection.to-beginning-of-line', command: 'editor:select-to-beginning-of-line' }
      { localisedLabel: 'core.menu.selection.to-first-char-of-line', command: 'editor:select-to-first-character-of-line' }
      { localisedLabel: 'core.menu.selection.to-end-of-word', command: 'editor:select-to-end-of-word' }
      { localisedLabel: 'core.menu.selection.to-end-of-line', command: 'editor:select-to-end-of-line' }
    ]
  }

  {
    localisedLabel: 'core.menu.find.self'
    submenu: []
  }

  {
    localisedLabel: 'core.menu.packages.self'
    submenu: [
      { localisedLabel: 'core.menu.packages.open-package-manager', command: 'settings-view:view-installed-packages' }
      { type: 'separator' }
    ]
  }

  {
    localisedLabel: 'core.menu.window.self'
    role: 'window'
    submenu: [
      { localisedLabel: 'core.menu.window.minimise', command: 'application:minimize' }
      { localisedLabel: 'core.menu.window.zoom', command: 'application:zoom' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.window.bring-all-to-front', command: 'application:bring-all-windows-to-front' }
    ]
  }

  {
    localisedLabel: 'core.menu.help.self'
    role: 'help'
    submenu: [
      { localisedLabel: 'core.menu.help.terms-of-use', command: 'application:open-terms-of-use' }
      { localisedLabel: 'core.menu.help.docs', command: 'application:open-documentation' }
      { localisedLabel: 'core.menu.help.faq', command: 'application:open-faq' }
      { type: 'separator' }
      { localisedLabel: 'core.menu.help.community-discussions', command: 'application:open-discussions' }
      { localisedLabel: 'core.menu.help.report-issue', command: 'application:report-issue' }
      { localisedLabel: 'core.menu.help.search-issues', command: 'application:search-issues' }
      { type: 'separator' }
    ]
  }
]

'context-menu':
  'atom-text-editor, .overlayer': [
    {label: 'Undo', command: 'core:undo'}
    {label: 'Redo', command: 'core:redo'}
    {type: 'separator'}
    {label: 'Cut', command: 'core:cut'}
    {label: 'Copy', command: 'core:copy'}
    {label: 'Paste', command: 'core:paste'}
    {label: 'Delete', command: 'core:delete'}
    {label: 'Select All', command: 'core:select-all'}
    {type: 'separator'}
    {label: 'Split Up', command: 'pane:split-up-and-copy-active-item'}
    {label: 'Split Down', command: 'pane:split-down-and-copy-active-item'}
    {label: 'Split Left', command: 'pane:split-left-and-copy-active-item'}
    {label: 'Split Right', command: 'pane:split-right-and-copy-active-item'}
    {label: 'Close Pane', command: 'pane:close'}
    {type: 'separator'}
  ]
  'atom-pane': [
    {type: 'separator'}
    {label: 'Split Up', command: 'pane:split-up-and-copy-active-item'}
    {label: 'Split Down', command: 'pane:split-down-and-copy-active-item'}
    {label: 'Split Left', command: 'pane:split-left-and-copy-active-item'}
    {label: 'Split Right', command: 'pane:split-right-and-copy-active-item'}
    {label: 'Close Pane', command: 'pane:close'}
    {type: 'separator'}
  ]
