'.source.c, .source.cpp, .source.objc, .source.objcpp':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
       ^ .* \\{ [^}"\']* $
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      |^ \\s* \\{ \\} $
      |^ \\s* if \\s* \\( (?!.*?(\\belse\\b|;\\s*$))
      |^ \\s* \\}? \\s* else \\s*$
      |^ \\s* (for|while) \\s* \\( (?! .* ; \\s* $)
      '
    'decreaseIndentPattern': '(?x)
       ^ \\s* (\\s* /[*] .* [*]/ \\s*)* \\}
      |^ \\s* (public|private|protected): \\s* $
      |^ \\s* @(public|private|protected) \\s* $
      |^ \\s* \\{
      '
'.source.c, .source.cpp':
  'editor':
    'foldEndPattern': '(?<!\\*)\\*\\*/|^\\s*\\}'
