'.text.html':
  'editor':
    'commentStart': '<!-- '
    'commentEnd': ' -->'
    'foldEndPattern': '(?x)\n\t\t(</(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|li|form|dl|section|article|header|footer|nav|aside)>\n\t\t|^(?!.*?<!--).*?--\\s*>\n\t\t|^<!--\\ end\\ tminclude\\ -->$\n\t\t|<\\?(?:php)?.*\\bend(if|for(each)?|while)\\b\n\t\t|\\{\\{?/(if|foreach|capture|literal|foreach|php|section|strip)\n\t\t|^[^{]*\\}\n\t\t|^\\s*\\)[,;]\n\t\t)'
    'increaseIndentPattern': '(?x)
      <(?!\\?|(?:area|base|br|col|frame|hr|html|img|input|link|meta|param)\\b|[^>]*/>)
      ([-_\\.A-Za-z0-9]+)(?=\\s|>)\\b[^>]*>(?!.*</\\1>)
      |<!--(?!.*-->)
      |<\\?php.+?\\b(if|else(?:if)?|for(?:each)?|while)\\b.*:(?!.*end\\1)
      |\\{[^}"\']*$
    '
    'decreaseIndentPattern': '(?x)
      ^\\s*
      (</(?!html)
        [-_\\.A-Za-z0-9]+\\b[^>]*>
        |-->
        |<\\?(php)?\\s+(else(if)?|end(if|for(each)?|while))
        |\\}
      )'
'.text.html .meta.tag:not(.entity.other.attribute-name, .punctuation.definition.tag.begin, .source, .entity.name.tag, .string, .invalid.illegal.incomplete.html)':
  'editor':
    'completions': [
      'ABBR'
      'abbr'
      'ABOVE'
      'above'
      'ACCEPT'
      'accept'
      'ACCESSKEY'
      'accesskey'
      'ACTION'
      'action'
      'ALIGN'
      'align'
      'ALINK'
      'alink'
      'ALT'
      'alt'
      'ARCHIVE'
      'archive'
      'AUTOSTART'
      'autostart'
      'AXIS'
      'axis'
      'BACKGROUND'
      'background'
      'BALANCE'
      'balance'
      'BEHAVIOR'
      'behavior'
      'BELOW'
      'below'
      'BGCOLOR'
      'bgcolor'
      'BGPROPERTIES'
      'bgproperties'
      'BORDER'
      'border'
      'BORDERCOLOR'
      'bordercolor'
      'BORDERCOLORDARK'
      'bordercolordark'
      'BORDERCOLORLIGHT'
      'bordercolorlight'
      'BOTTOMMARGIN'
      'bottommargin'
      'CABBASE'
      'cabbase'
      'CELLPADDING'
      'cellpadding'
      'CELLSPACING'
      'cellspacing'
      'CHARSET'
      'charset'
      'CHECKED'
      'checked'
      'CITE'
      'cite'
      'CLASS'
      'class'
      'CLASSID'
      'classid'
      'CLEAR'
      'clear'
      'CLIP'
      'clip'
      'CODE'
      'code'
      'CODEBASE'
      'codebase'
      'CODETYPE'
      'codetype'
      'COLOR'
      'color'
      'COLS'
      'cols'
      'COLSPAN'
      'colspan'
      'COMPACT'
      'compact'
      'CONTENT'
      'content'
      'CONTROLS'
      'controls'
      'COORDS'
      'coords'
      'DATA'
      'data'
      'DATAPAGESIZE'
      'datapagesize'
      'DATETIME'
      'datetime'
      'DECLARE'
      'declare'
      'DEFER'
      'defer'
      'DELAY'
      'delay'
      'DIR'
      'dir'
      'DIRECTION'
      'direction'
      'DISABLED'
      'disabled'
      'DYNSRC'
      'dynsrc'
      'ENCTYPE'
      'enctype'
      'FACE'
      'face'
      'FOR'
      'for'
      'FRAME'
      'frame'
      'FRAMEBORDER'
      'frameborder'
      'FRAMESPACING'
      'framespacing'
      'GUTTER'
      'gutter'
      'HEADERS'
      'headers'
      'HEIGHT'
      'height'
      'HIDDEN'
      'hidden'
      'HREF'
      'href'
      'HREFLANG'
      'hreflang'
      'HSPACE'
      'hspace'
      'HTTP-EQUIV'
      'http-equiv'
      'ID'
      'id'
      'ISMAP'
      'ismap'
      'LABEL'
      'label'
      'LANG'
      'lang'
      'lang'
      'language'
      'LEFT'
      'left'
      'LEFTMARGIN'
      'leftmargin'
      'LINK'
      'link'
      'LONGDESC'
      'longdesc'
      'LOOP'
      'loop'
      'LOWSRC'
      'lowsrc'
      'MARGINHEIGHT'
      'marginheight'
      'MARGINWIDTH'
      'marginwidth'
      'MAXLENGTH'
      'maxlength'
      'MAYSCRIPT'
      'mayscript'
      'MEDIA'
      'media'
      'METHOD'
      'method'
      'MULTIPLE'
      'multiple'
      'NAME'
      'name'
      'NOEXTERNALDATA'
      'noexternaldata'
      'NORESIZE'
      'noresize'
      'NOSHADE'
      'noshade'
      'NOWRAP'
      'nowrap'
      'onBlur'
      'onblur'
      'onChange'
      'onchange'
      'onClick'
      'onclick'
      'onDblClick'
      'ondblclick'
      'onError'
      'onerror'
      'onFocus'
      'onfocus'
      'onKeyDown'
      'onkeydown'
      'onKeyPress'
      'onkeypress'
      'onKeyUp'
      'onkeyup'
      'onLoad'
      'onload'
      'onMouseDown'
      'onmousedown'
      'onMouseMove'
      'onmousemove'
      'onMouseOut'
      'onmouseout'
      'onMouseOver'
      'onmouseover'
      'onMouseUp'
      'onmouseup'
      'onReset'
      'onreset'
      'onResize'
      'onresize'
      'onSelect'
      'onselect'
      'onSubmit'
      'onsubmit'
      'onUnload'
      'onunload'
      'PAGEX'
      'pagex'
      'PAGEY'
      'pagey'
      'POINTSIZE'
      'pointsize'
      'READONLY'
      'readonly'
      'REL'
      'rel'
      'REV'
      'rev'
      'RIGHTMARGIN'
      'rightmargin'
      'ROWS'
      'rows'
      'ROWSPAN'
      'rowspan'
      'RULES'
      'rules'
      'runat'
      'SCOPE'
      'scope'
      'SCROLLAMOUNT'
      'scrollamount'
      'SCROLLDELAY'
      'scrolldelay'
      'SCROLLING'
      'scrolling'
      'SELECTED'
      'selected'
      'SHAPE'
      'shape'
      'SIZE'
      'size'
      'SPAN'
      'span'
      'SRC'
      'src'
      'STANDBY'
      'standby'
      'START'
      'start'
      'STYLE'
      'style'
      'SUMMARY'
      'summary'
      'TABINDEX'
      'tabindex'
      'TARGET'
      'target'
      'TEXT'
      'text'
      'TITLE'
      'title'
      'TOP'
      'top'
      'TOPMARGIN'
      'topmargin'
      'TRUESPEED'
      'truespeed'
      'TYPE'
      'type'
      'USEMAP'
      'usemap'
      'VALIGN'
      'valign'
      'VALUE'
      'value'
      'VALUETYPE'
      'valuetype'
      'VISIBILITY'
      'visibility'
      'VLINK'
      'vlink'
      'VOLUME'
      'volume'
      'VSPACE'
      'vspace'
      'WIDTH'
      'width'
      'WRAP'
      'wrap'
      'xml:lang'
      'xmlns'
      'Z-INDEX'
      'z-index'
    ]
