'.source.python':
  'editor':
    'autoIndentOnPaste': false
    'softTabs': true
    'tabLength': 4
    'commentStart': '# '
    'increaseIndentPattern': '^\\s*(class|def|elif|else|except|finally|for|if|try|with|while)\\b.*:\\s*$'
    'decreaseIndentPattern': '^\\s*(elif|else|except|finally)\\b.*:'
    'decreaseNextIndentPattern': '^\\s*(return|yield|continue|break|raise)\\b.*$'
