'pulsar': {
  'config': {
    'ignoredNames': {
      'description': 'List of [glob patterns](https://en.wikipedia.org/wiki/Glob_%28programming%29). Files and directories matching these patterns will be ignored by some packages, such as the fuzzy finder and tree view. Individual packages might have additional config settings for ignoring names.'
    },
    'excludeVcsIgnoredPaths': {
      'title': 'Exclude VCS Ignored Paths',
      'description': 'Files and directories ignored by the current project\'s VCS will be ignored by some packages, such as the fuzzy finder and find and replace. For example, projects using Git have these paths defined in the .gitignore file. Individual packages might have additional config settings for ignoring VCS ignored files and folders.'
    },
    'followSymlinks': {
      'description': 'Follow symbolic links when searching files and when opening files with the fuzzy finder.'
    },
    'disabledPackages': {
      'description': 'List of names of installed packages which are not loaded at startup.'
    },
    'titleBar': {
      'description': 'Experimental:  The title bar can  be completely `hidden`.<br />This setting will require a relaunch of Pulsar to take effect.'
    },
    'versionPinnedPackages': {
      'description': 'List of names of installed packages which are not automatically updated.'
    },
    'customFileTypes': {
      'description': 'Associates scope names (e.g. `"source.js"`) with arrays of file extensions and file names (e.g. `["Somefile", ".js2"]`)'
    },
    'uriHandlerRegistration': {
      'description': 'When should Pulsar register itself as the default handler for atom:// URIs',
      'prompt': {
        'description': 'Prompt to register Pulsar as the default atom:// URI handler'
      },
      'always': {
        'description': 'Always become the default atom:// URI handler automatically'
      },
      'never': {
        'description': 'Never become the default atom:// URI handler'
      }
    },
    'themes': {
      'description': 'Names of UI and syntax themes which will be used when Pulsar starts.'
    },
    'audioBeep': {
        'description': 'Trigger the system\'s beep sound when certain actions cannot be executed or there are no results.'
    },
    'closeDeletedFileTabs': {
        'title': 'Close Deleted File Tabs',
        'description': 'Close corresponding editors when a file is deleted outside Pulsar.'
    },
    'destroyEmptyPanes': {
        'title': 'Remove Empty Panes',
        'description': 'When the last tab of a pane is closed, remove that pane as well.'
    },
    'closeEmptyWindows': {
        'description': 'When a window with no open tabs or panes is given the \'Close Tab\' command, close that window.'
    },
    'fileEncoding': {
      'description': 'Default character set encoding to use when reading and writing files.'
    },
    'openEmptyEditorOnStart': {
        'description': 'When checked opens an untitled editor when loading a blank environment (such as with _File > New Window_ or when "Restore Previous Windows On Start" is unchecked); otherwise no editor is opened when loading a blank environment. This setting has no effect when restoring a previous state.'
    },
    'restorePreviousWindowsOnStart': {
        'description': 'When selected \'no\', a blank environment is loaded. When selected \'yes\' and Pulsar is started from the icon or `pulsar` by itself from the command line, restores the last state of all Pulsar windows; otherwise a blank environment is loaded. When selected \'always\', restores the last state of all Pulsar windows always, no matter how Pulsar is started.'
    },
    'reopenProjectMenuCount': {
        'description': 'How many recent projects to show in the Reopen Project menu.'
    },
    'automaticallyUpdate': {
        'description': 'Automatically update Pulsar when a new release is available. **Note**: Currently not functional, please download new releases from [pulsar-edit.dev](https://pulsar-edit.dev/download.html)'
    },
    'useProxySettingsWhenCallingApm': {
        'title': 'Use Proxy Settings When Calling PPM',
        'description': 'Use detected proxy settings when calling the `pulsar -p` or `ppm` command-line tool.'
    },
    'allowPendingPaneItems': {
        'description': 'Allow items to be previewed without adding them to a pane permanently, such as when single clicking files in the tree view.'
    },
    'warnOnLargeFileLimit': {
        'description': 'Warn before opening files larger than this number of megabytes.'
    },
    'fileSystemWatcher': {
      'description': 'Choose the underlying implementation used to watch for filesystem changes. Emulating changes will miss any events caused by applications other than Pulsar, but may help prevent crashes or freezes.',
      'nativeDescription': 'Native operating system APIs'
    },
    'useTreeSitterParsers': {
      'title': 'Use Tree-sitter Parsers',
      'description': 'Use Tree-sitter parsers for supported languages.'
    },
    'useLegacyTreeSitter': {
      'title': 'Use Legacy Tree-sitter Implementation',
      'description': 'Opt into the legacy Atom Tree-sitter system instead of the modern system added by Pulsar. (We plan to remove this legacy system soon.) Has no effect unless “Use Tree-sitter Parsers” is also checked.'
    },
    'useLegacySessionStore': {
      'title': 'Use Legacy Session Store',
      'description': 'Opt into the legacy Atom session store (IndexedDB) instead of the new SQLite backend (We plan to remove this legacy system soon).'
    }
  },
  'menu': {
    'settings-view:view-installed-packages': 'Open Package Manager'
  },
  'context-menu': {
    'core:undo': 'undo'
  }
}
