'core': {
  'welcomeString': 'Hello Pulsar!'
  'goodbyeString': 'Goodbye Pulsar!'
}
'menu': {
  'settings-view:view-installed-packages': 'Open Package Manager'
}
'context-menu': {
  'core:undo': 'Undo'
}
