'core': {
  'welcomeString': 'Hello Pulsar!'
  'goodbyeString': 'Goodbye Pulsar!'
}
'config': {
  'excludeVcsIgnoredPaths': {
    'title': 'Exclude VCS Ignored Paths'
  }
}
'menu': {
  'settings-view:view-installed-packages': 'Open Package Manager'
}
'context-menu': {
  'core:undo': 'Undo'
}
