/*
 * Panels
 * --------------------------------------------------
 */

.tool-panel, /* deprecated: .tool-panel */
.panel, /* deprecated: .panel */
atom-panel {
  background-color: var(--tool-panel-background-color);
}

.inset-panel {
  border-radius: var(--component-border-radius);
  background-color: var(--inset-panel-background-color);
}

.panel-heading {
  margin: 0;
  padding: var(--component-padding);
  border-radius: 0;
  font-size: var(--font-size);
  line-height: 1;
  background-color: var(--panel-heading-background-color);

  .inset-panel & {
    border-radius: var(--component-border-radius) var(--component-border-radius) 0 0;
  }

  .btn {
    /* @btn-height: @component-line-height - 5px */
    height: calc(var(--component-line-height) - 5px);
    line-height: calc(var(--component-line-height) - 5px);
    font-size: calc(var(--font-size) - 2px);
    position: relative;
    top: -5px;
  }
}
