.bracket-matcher .region {
  border-bottom: 1px dotted lime;
  position: absolute;
}

.line-number.bracket-matcher.bracket-matcher {
  color: var(--syntax-gutter-text-color-selected);
  background-color: var(--syntax-gutter-background-color-selected);
}
