@import "ui-variables";

.project-list .tag {
  margin-right: 5px;
  border: solid 1px;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  vertical-align: baseline;
  color: @syntax-color-constant;
}

.project-list .square {
  color: @ui-site-color-2;
}

.project-list .secondary-line {
  display: block !important;
}
