name: Package tests for Pulsar on Linux
on:
  - pull_request
jobs:
  setup:
    name: Build Editor
    if: |
      !startsWith(github.event.pull_request.title, '[skip-ci]') &&
      !startsWith(github.event.pull_request.title, '[skip-package-ci]')
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout the latest code
      uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v2-beta
      with:
        node-version: 16

    - name: Install Dependencies
      run: yarn install

    - name: Build Dependencies
      run: yarn build

    - name: build dependencies
      run: yarn build:apm

    - name: build the editor
      run: yarn dist appimage && mv binaries/Pulsar*AppImage pulsar.appimage

    - name: Cache node_modules
      id: cache-node
      uses: actions/cache@v3
      with:
        path: node_modules
        key: linux-modules-$env:GITHUB_SH

    - name: Cache pulsar
      id: cache-pulsar
      uses: actions/cache@v3
      with:
        path: pulsar.appimage
        key: pulsar-$env:GITHUB_SHA

  test:
    name: Test Packages
    needs: setup
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - package: "atom-dark-syntax"
          - package: "atom-dark-ui"
          - package: "atom-light-syntax"
          - package: "atom-light-ui"
          - package: "base16-tomorrow-dark-theme"
          - package: "base16-tomorrow-light-theme"
          - package: "one-dark-ui"
          - package: "one-light-ui"
          - package: "one-dark-syntax"
          - package: "one-light-syntax"
          - package: "solarized-dark-syntax"
          - package: "solarized-light-syntax"
          - package: "about"
          - package: "archive-view"
          - package: "autocomplete-atom-api"
          - package: "autocomplete-css"
          - package: "autocomplete-html"
          - package: "autocomplete-plus"
          - package: "autocomplete-snippets"
          - package: "autoflow"
          - package: "autosave"
          - package: "background-tips"
          - package: "bookmarks"
          - package: "bracket-matcher"
          - package: "command-palette"
          - package: "dalek"
          - package: "deprecation-cop"
          - package: "dev-live-reload"
          - package: "encoding-selector"
          - package: "exception-reporting"
          - package: "find-and-replace"
          - package: "fuzzy-finder"
          - package: "github"
          - package: "git-diff"
          - package: "go-to-line"
          - package: "grammar-selector"
          - package: "image-view"
          - package: "incompatible-packages"
          - package: "keybinding-resolver"
          - package: "line-ending-selector"
          - package: "link"
          - package: "markdown-preview"
          - package: "notifications"
          - package: "open-on-github"
          - package: "package-generator"
          - package: "settings-view"
          - package: "snippets"
          - package: "spell-check"
          - package: "status-bar"
          - package: "styleguide"
          - package: "symbols-view"
          - package: "tabs"
          - package: "timecop"
          - package: "tree-view"
          - package: "update-package-dependencies"
          - package: "welcome"
          - package: "whitespace"
          - package: "wrap-guide"
          - package: "language-c"
          - package: "language-clojure"
          - package: "language-coffee-script"
          - package: "language-csharp"
          - package: "language-css"
          - package: "language-gfm"
          - package: "language-git"
          - package: "language-go"
          - package: "language-html"
          - package: "language-hyperlink"
          - package: "language-java"
          - package: "language-javascript"
          - package: "language-json"
          - package: "language-less"
          - package: "language-make"
          - package: "language-mustache"
          - package: "language-objective-c"
          - package: "language-perl"
          - package: "language-php"
          - package: "language-property-list"
          - package: "language-python"
          - package: "language-ruby"
          - package: "language-ruby-on-rails"
          - package: "language-rust-bundled"
          - package: "language-sass"
          - package: "language-shellscript"
          - package: "language-source"
          - package: "language-sql"
          - package: "language-text"
          - package: "language-todo"
          - package: "language-toml"
          - package: "language-typescript"
          - package: "language-xml"
          - package: "language-yaml"

    steps:
    - name: Checkout the latest code
      uses: actions/checkout@v2

    - name: Restore node_modules from Cache
      id: restore-node
      uses: actions/cache@v3
      with:
        path: node_modules
        key: linux-modules-$env:GITHUB_SHA

    - name: Restore pulsar from Cache
      id: restore-pulsar
      uses: actions/cache@v3
      with:
        path: pulsar.appimage
        key: pulsar-$env:GITHUB_SHA

    - name: Run ${{ matrix.package }} Tests
      uses: GabrielBB/xvfb-action@v1
      with:
        run: cd node_modules/${{ matrix.package }} && if [[ -f spec ]]; then ../../pulsar.appimage --test spec; fi
        # run: node -e "require('./script/run-package-tests')(/${{ matrix.package }}/)"
